/* v1.0 | 20080212 */
/**********Reset starts**********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********Reset ends**********/


@charset "utf-8";
/* CSS Document */
/*General CSS structure and layout*/
/*---------------------------------------------------------------------------
----------Default styles----------

1.typography and default
2.basic columns
3.image styles
4.button styles
5.divider

----------Index page styles----------

6.header_top
	- logo
	- call and login
7.header
	- column_2
		- steps
		- quote
	- column_2_last
		- video
		- button
8.content_top
	- column_2
	- column_4
	- column_4_last
9.content
	- features
10.content_bottom
	- testimonial
	- buy
11.footer_bg
	- column_3
		- copyright and social
	- column_3
		- twitter feed
	- column_3_last
	- subscribe

----------Other page styles----------

12. Registration page
13. Login page	
 --------------------------------------------------------------------------*/
body {
	background: #dce1e4;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color: #444751;
	line-height: 1.6em;
	text-shadow: 0px 1px 0px #ffffff;
}
.clear {
	clear:both;
}
/*1.typography and default*/
/*---------------------------------------------------------------------------*/
h1, h2, h3, h4, h5 {
	color: #444751;
	line-height: 1em;
	font-weight: normal;
}/*Margin bottom to headings as line-height property do not work well with many browsers in case of cufon*/
h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
h2 {
	font-size: 20px;
	margin-bottom: 15px;
}
h3 {
	font-size: 18px;
	margin-bottom: 15px;
}
h4 {
	font-size: 16px;
	margin-bottom: 10px;
}
h5 {
	font-size: 14px;
	margin-bottom: 5px;
}
a {
	color: #444751;
	text-decoration: none;
	cursor: pointer;
}
/*2.basic columns*/
/*---------------------------------------------------------------------------*/
/*all column styles given here are not used in template, some additional styles are given if you need to use while customization*/

/*twothird and onethird columns*/
.column_onethird {
	width: 300px;
	margin-right: 20px;
	float: left;
}
.column_twothird {
	width: 620px;
	float: left;
}
/*two columns*/
.column_2 {
	width: 460px;
	margin-right: 20px;
	float: left;
}
.column_2_last {
	width: 460px;
	margin: 0;
	float: left;
}
/*three columns*/
.column_3 {
	width: 300px;
	margin-right: 20px;
	float: left;
}
.column_3_last {
	width: 300px;
	margin: 0;
	float: left;
}
/*four columns*/
.column_4 {
	width: 220px;
	margin-right: 20px;
	float: left;
}
.column_4_last {
	width: 220px;
	margin: 0;
	float: left;
}
/*columns threefourth and onefourth*/
.column_onefourth {
	width: 220px;
	margin-right: 20px;
	float: left;
}
.column_threefourth {
	width: 700px;
	margin: 0;
	float: left;
}
/*3.image styles*/
/*---------------------------------------------------------------------------*/
/*all image styles given here are not used in template, 
some additional styles are given if you need to use while customization*/
.image_left {
	float: left;
	margin-right: 10px;
}
.image_right {
	float: right;
	margin-left: 10px;
}
/*4.button styles*/
/*---------------------------------------------------------------------------*/
/*simple button*/
.button_1 {
	background: url(../images/calltoaction-1.png) no-repeat;
	width: 225px;
	height: 55px;
	margin-top: 15px;
	margin-left: 118px;
	float: left;
}
.button_1 a {
	font-size: 18px;
	color: #444751;
	text-align: center;
	text-transform: uppercase;
	padding-top: 18px;
	padding-bottom: 15px;
	display: block;
	cursor: pointer !important;
}
/*app button*/
.button_2 {
	background: url(../images/app-store-btn.png) no-repeat;
	width: 174px;
	height: 66px;
	margin-top: 10px;
	float: left;
}
.button_2 a {
	font-size: 18px;
	color: #444751;
	text-align: center;
	padding-top: 22px;
	padding-bottom: 22px;
	display: block;
	text-indent: -9999px !important;
	cursor: pointer !important;
}
/*5.divider*/
/*---------------------------------------------------------------------------*/
.divider {
	background: url(../images/hor-divider.png) repeat-x;
	width: 940px;
	height: 2px;
	float: left;
}
/*----------------------------------------*/
/*Index page style*/
/*----------------------------------------*/
#wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 30px 0px;
}
/*6.header_top*/
/*---------------------------------------------------------------------------*/
#header_top {
	width: 940px;
	padding: 0px 0px 30px 0px;
	float: left;
}
/*----------logo----------*/
.logo {
	float: left;
}
/*----------telephone number----------*/
#header_top p {
	font-size: 16px;
	padding-top: 7px;
	float: right;
}
/*7.header*/
/*---------------------------------------------------------------------------*/
#header {
	width: 940px;
	padding: 30px 0px;
	float: left;
}
/*----------steps----------*/
ul.steps li {
	width: 140px;
	float: left;
	display: inline;
}
ul.steps li.arrow {
	width: 20px !important;
	height: 20px;
	padding-top: 30px !important;
	background: url(../images/arrow-right.png) no-repeat 0 30px;
}
.icon_bg {
	background: url(../images/step-bg.png) no-repeat;
	width: 80px;
	height: 82px;
	margin-left: 30px;
	margin-bottom: 20px;
	float: left;
}
.icon_bg img {
	margin-left: 24px;
	margin-top: 24px;
	float: left;
}
ul.steps li h4 {
	text-align: center;
}
span.quote {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	line-height: 1.3em;
	display: block;
	margin-top: 25px;
}
/*----------video----------*/
#video {
	background: url(../images/slider-video-bg.png) no-repeat;
	width: 453px;
	height: 304px;
	padding-left: 7px;
	padding-top: 6px;
	float: left;
}
p.buy_tagline {
	display: block;
	font-size: 13px;
	text-align: center;
	padding-top: 10px;
}
/*8.content_top*/
/*---------------------------------------------------------------------------*/
#content_top {
	width: 940px;
	padding: 30px 0px;
	float: left;
}
ul.bullet_1 li {
	background: url(../images/bullet-checkmark.png) no-repeat 0 7px;
	padding-left: 20px;
	display: block;
	line-height: 2em;
}
/*9.content*/
/*---------------------------------------------------------------------------*/
#content {
	width: 940px;
	padding: 30px 0px 0px 0px;
	float: left;
}
/*----------features----------*/
ul.features li {
	width: 460px;
	margin-right: 20px;
	margin-bottom: 30px;
	float: left;
}
ul.features li.last_feature {
	margin-right: 0px;
}
ul.features li .img_bg {
	background: url(../images/box-bg.png) no-repeat;
	width: 197px;
	height: 140px;
	padding-left: 7px;
	padding-top: 6px;
	margin-right: 20px;
	float: left;
	position: relative;
}
.img_bg a span img {
	position: absolute;
	top: -15px;
	left: 184px;
	width: 34px;
	height: 36px;
	border:none;
	background: none !important;
}
/*10.content_bottom*/
/*---------------------------------------------------------------------------*/
#content_bottom {
	width: 940px;
	padding: 30px 0px 0px 0px;
	float: left;
}
/*----------testimonial----------*/
.testimonial {
	width: 460px;
	margin-right: 20px;
	float: left;
}
.testimonial p {
	background: #ebf0f2;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.testimonial span {
	background: url(../images/quotes-bottom.png) no-repeat 60px 0px;
	padding-top: 10px;
	padding-left: 110px;
	font-size: 11px;
	display: block;
}
/*----------buy----------*/
.buy {
	width: 460px;
	float: left;
}
.buy p {
	font-size: 14px;
}
.btn_sidetext {
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 35px;
	display: block;
	float: left;
}
/*11.footer_bg*/
/*---------------------------------------------------------------------------*/
#footer_bg {
	width: 100%;
	background: url(../images/footer-bg.jpg) repeat-x #36383d;
	padding: 20px 0px 40px 0px;
}
#footer {
	width: 940px;
	margin: 0 auto;
	font-size: 11px;
	color: #cdcfd2;
	text-shadow: none;
}
#footer h4 {
	color: #cdcfd2;
}
#footer a {
	color: #cdcfd2;
}
/*----------social----------*/
ul.social {
	padding-top: 10px;
}
ul.social li {
	background: none;
	list-style: none;
	float: left;
	padding-right: 5px;
}
/*----------twitter----------*/
#twitter li {
	list-style: disc;
	list-style-position:inside;
}
/*----------subscribe----------*/
.subscribe {
	width: 300px;
	float: left;
	position: relative;
}
form#subform {
	margin-top: 10px;
}
form#subform fieldset {
	border: none;
	background: none;
}
form#subform fieldset p {
	background: none;
	padding: 0;
	margin: 0;
	display: block;
}
form#subform input {
	width: 255px;
	height: 22px;
	background: url(../images/input-fld.png) no-repeat;
	padding: 5px;
	margin: 0;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	font-size: 11px;
	color: #cdcfd2;
	line-height: 1.6em;
	outline: none;
	border: none;
	float: left;
}
form#subform input.sub_submit {
	width: 35px;
	height: 32px;
	background: url(../images/submit-btn.png) no-repeat;
	padding: 0;
	margin: 0;
	float: left;
	font-size: 0;
	text-indent: -9999px;
	border: none;
	cursor: pointer;
	outline: none;
	display: block;
}
/*position of error is relative to "suscribe" div*/
form#subform label.error {
	width: 300px;
	font-size: 11px;
	text-align: left;
	color: #b44646;
	position: absolute;
	top: 60px;
	left: 0px
}
/*12.Registration page*/
/*---------------------------------------------------------------------------*/
/*----------sub_header----------*/
.sub_header {
	width: 940px;
	float: left;
	padding: 20px 0px;
}
.sub_header h1 {
	float: left;
	margin-bottom: 0px;
}
.sub_header a {
	font-size: 14px;
	float: right;
}
/*----------main and sidebar----------*/
.main {
	width: 620px;
	margin-right: 20px;
	margin-top: 30px;
	padding-bottom: 30px;
	float: left;
}
.sidebar {
	width: 300px;
	float: left;
}
.side_features {
	width: 234px;
	background: #ebf0f2;
	margin: 30px 0px;
	padding: 30px 30px;
	border: 3px solid #b7bbbd;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	float: left;
}
.main p, .sidebar p {
	padding-bottom: 10px;
}
ul.bullet_2 li {
	background: url(../images/bullet-checkmark.png) no-repeat 0 5px;
	padding-left: 20px;
	padding-bottom: 10px;
	display: block;
	line-height: 1.6em;
}
/*----------contact form----------*/
form.contact_form {
	width: 550px;
	float:left;
	margin: 0;
	padding-top: 10px;
}
form.contact_form fieldset {
	border: none;
	background: none;
}
form.contact_form fieldset p {
	background: none;
	padding: 0;
	margin: 0;
	display: block;
}
form.contact_form label {
	width: 148px;
	height: 23px;
	padding-top: 15px;
	font-size: 14px;
	display: inline-block;
	float: left;
}
form.contact_form input {
	width: 380px;
	height: 20px;
	margin: 10px 0px 0px 0px;
	padding: 5px 10px;
	background: #ebf0f2;
	border: 1px solid #b7bbbd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	color: #444751;
	font-size: 12px;
	line-height:1.5em;
	outline: none;
	float: left;
}
form.contact_form .select_style {
	width: 400px;
	height: 32px;
	margin: 10px 0px 0px 0px;
	padding: 6px 5px 5px 5px;
	background: #ebf0f2;
	border: 1px solid #b7bbbd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	color: #444751;
	font-size: 12px;
	line-height:1.5em;
	outline: none;
	float: left;
	display: block;
}
form.contact_form option {
	background: #ebf0f2;
	border: none;
	outline: none;
}
form.contact_form textarea {
	width: 380px;
	height: 90px;
	padding: 5px 10px;
	margin: 10px 0px 0px 0px;
	background: #ebf0f2;
	border: 1px solid #b7bbbd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	color: #444751;
	font-size: 12px;
	line-height:1.5em;
	outline: none;
	float: left;
}
form.contact_form input.submit {
	background: url(../images/cform-submit-btn.png) no-repeat;
	width:120px;
	height: 40px;
	margin-left: 148px;
	padding: 0;
	border:none;
	cursor: pointer;
	float:left;
}
form.contact_form label.error {
	width: 550px;
	height: 0px;
	padding:0px 0px 5px 0px;
	margin:0;
	color:#b04242;
	font-size:10px;
	line-height: 1em;
	text-align: right;
	float: left;
}
form.contact_form #result {
	width: 440px;
	padding-left: 150px;
	float: left;
	text-align: left;
	padding-top: 5px;
}
/*13.Login page*/
/*---------------------------------------------------------------------------*/
/*----------login logo----------*/
.login_logo {
	width: 108px;
	padding-top: 100px;
	padding-bottom: 30px;
	margin: 0 auto;
}
/*----------login box----------*/
.login_box {
	width: 340px;
	margin: 0 auto;
}
.login_boxtop {
	width: 340px;
	background: url(../images/login-box-top.png) no-repeat center top;
	height: 10px;
	float: left;
}
.login_boxmiddle {
	width: 280px;
	background: url(../images/login-box-middle.png) repeat-y;
	padding: 30px;
	float: left;
}
.login_boxbottom {
	width: 340px;
	background: url(../images/login-box-bottom.png) no-repeat center top;
	height: 15px;
	float: left;
}
/*----------login form----------*/
form#loginform fieldset {
	border: none;
	background: none;
}
form#loginform fieldset p {
	background: none;
	padding: 0;
	margin: 0;
	display: block;
}
form#loginform label {
	width: 280px;
	font-size: 12px;
	display: inline-block;
	float: left;
}
form#loginform input {
	width: 268px;
	height: 20px;
	/*background: #f2f5f6;*/
	/*border: 1px solid #b7bbbd;*/
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	font-size: 16px;
	/*color: #444751;*/
	line-height: 2.6em;
	outline: none;
	/*float: left;*/
		text-align: center;

}
form#loginform input.login_submit {
	width: 82px;
	height: 30px;
	/*background: url(../images/login-btn.png) no-repeat;*/
	/*padding: 0;*/
	margin-top: 5px;
	margin-left: 35%;
	/*float: left;*/
	font-size: 16;
	text-align: center;
	color: black;
	line-height: 1.2em;
	/*border: none;*/
	cursor: pointer;
	outline: none;
	display: block;
}
.login_boxmiddle a {
	font-size: 11px;
}
/*----------link to home----------*/
.login_homelink {
	width: 340x;
	margin: 0 auto;
	padding-top: 10px;
	font-size: 11px;
	text-align: center;
}
.stomasoft{
	font-size: 40px;
	border-bottom: 2px solid black;
	padding: 20px;
	text-align: center;
}
.login_boxtop{
	text-align: center;
	padding: 20px;
	font-size: 25px;
}
#wrapper{
	border: 2px solid black !important;
	padding:0;
	width: 340px;
	margin-top: 30px;

}
.logn{
	/*padding: 10px !important;*/
	border: 2px solid black;
	background-color: #929292;

}
form h2 {
	margin-left: -9%;
}
.forgot {
	margin-left: 20%;
	color: #00A8FF;
}
.space-bottom {
	margin-left: 12%;
}
.to-space {
	margin-bottom: 5%;

}
.space-after {
	margin-bottom: 10%;
}
.space-left {
	margin-left: 13%;
}
form h3, .to-space.signup-ro  {
	color: #00A8FF;
	margin-left: 19%;
}
.to-space.signup-ro {
	margin-left: 30%;
}
.to-space.signup-english {
	margin-left: 25%;
}
.forgot.forgot-english {
	margin-left: 20%;
}
.appointment.message-en {
	margin-left: 6%;
	margin-top: 4%;
	color: #3CB371;
	font-size: 16px;

}
.appointment.message {
	margin-left: 0.5%;
	margin-top: 3%;
	color: #3CB371;
	font-size: 16px;
}

@media (max-width: 500px) {
	form h3 {
		margin-left: 0;
	}
	form h2{
		margin-left: -50%;
	}
	.forgot, .forgot.forgot-english {
		margin-left: 5%;
	}
	.to-space.signup-english, .to-space.signup-ro {
		margin-left: 15%;

	}
	.appointment.message, .appointment.message-en {
		margin-left: 0;

	}
	
}