body {
    background-color: #E6E6FA;
}
.romania {
    background-image: url('../../../assets/images/romania.ico');
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
}
.uk {
    background-image: url('../../../assets/images/england.ico');
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.container h2 {
   padding-left: 170px;
    color: #00A8FF;
}
.container h4 {
    margin-left: 2%;
    color: #00A8FF;
}
.bg-btn {
    background-color: #843E7A;
    border: none;
    margin-bottom: 4%;
}
.container {
    margin-bottom: 4%;
    margin-top: 2%;
    width: 100%;
}
.red-input {
    border: 1px solid red;
}
h6 {
    color: red;
}
.languages {
    float: right;
}
.romania-image {
    width: 30px;
    height: auto;
    float: left;
    margin-right: 2%;
}
.uk-image {
    width: 33px;
    height: auto
    float: left;
    margin-right: 2%;
    /*margin-left: 2%;*/
}
.home-page {
    float: right;
    color: #00A8FF;
    margin-right: 4%;
    font-size: 20px;
}
